name: mlproject-env

channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - pip
  - ffmpeg<8
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
